<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.drupp_driver">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DruppDriverApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StartSplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.EditRides"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MapsExpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.EarningGraphActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserRatings"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.bookride.RideDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".ui.PostRideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" />

        <activity
            android:name=".ui.BillActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AddAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".ui.VehicleRegistrationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.DriverRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.TripHistoryMid"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CancelRide"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RideActivity"
            android:label="@string/title_activity_ride"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.support.SupportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TermsConditionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ScheduledRidesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.completedrides.TripHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.completedrides.TripHistoryNew"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RateUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".ui.UserSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TripHistoryFinal"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.StartUpActivity"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.VerificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SupportMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CodeVerificationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity
            android:name=".ui.bookride.BusTripActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".ui.dashboard.DashBoardActivity" />
        <activity android:name=".ui.dashboard.DashboardActivityNew" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Utils.ImagePickerActivity" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.bookride.SingleScheduledRide"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.support.SupportQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".ui.notification.RidePreferenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".ui.base.CommonDrawerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".ui.poolride.PoolRideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- cache directory file provider paths -->


        <service
            android:name=".FireBase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ChatHeadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.ApplicationProcessService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <!--<provider-->
        <!--android:name="androidx.core.content.FileProvider"-->
        <!--android:authorities="${applicationId}.provider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true"-->
        <!--tools:node="replace"-->
        <!--tools:replace="android:authorities">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>


        <service
            android:name=".FireBase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.NotificationService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>